*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family:'Orbitron', sans-serif;
    text-align:center;
    
}

body{
    background-color: #CDB4DB;
    display:flex;
    justify-content: center;
}

.bodyApp{
    display:flex;
    flex-direction: column;
    background-color:#FFC8DD;
    height: 100%;
    width:800px;
}



.title{
    margin: 30px 0;
    padding:20px;
}

.title h2{
    margin: 20px 0;
}

.resultadoImagenes{
    display:flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.imgContainer img{
    width:200px;
}

.resultado{
    margin: 20px 0;
    height:40px;
}

h3{
    margin-top:20px;
}

.btnContenedor{
    
    margin:30px;
}

.btn{
    background-color:#A2D2FF;
    border: 2px solid #BDE0FE;
    border-radius:10px;
    padding:40px;
    font-size: 35px;
}